@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #151F2D;
    font-family: 'Oswald', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

/* NAVIGATION BAR STYLING */

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151F2D;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 2px 2px white;
}

.logo {
    display: flex;
    margin: 10px 10px;
    width: 120px;
    height: auto;
    background-color: #151F2D;
}

.navtabs {
    display: flex;
    list-style: none;
}

.navtabs a { 
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 4px;
    transition: color 0.2s;
    color: white;
    background-color: #151F2D;
}

.navtabs a:hover {
    color: #2E3B4B;
}

ul {
    display: flex;
    list-style: none;
}

.tabs {
    padding: 20px;
    cursor: pointer;
    background-color: #151F2D;
}

/* HOME STYLING */

.home {
    display: flex;
    color: #FFF;
    height: 100vh;
    position: relative;
    background: url(images/city1-blur.png) repeat fixed 100%;
    background-size: cover; 
}

.home .max-width {
    background-color: transparent;
    align-items: center;
}

.home .home-content {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.home .home-content .line-1 {
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 5px;
    color: white;
}

.home .home-content .line-2 {
    background-color: transparent;
    position: relative;
    text-align: center;
    font-size: 85px;
    font-weight: 400;
    color: white;
}

.home .home-content .line-2 span {
    background-color: transparent;
    display: inline-block;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i));
    color: white;
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
}

.home .home-content .line-3 {
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 5px;
    color: white;
}

.home .home-content .line-4 {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    -webkit-animation: button .5s infinite  alternate;
    animation: button .5s infinite  alternate;
    background-color: transparent;
    font-size: 50px;
    color: white;
}

@-webkit-keyframes button {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes button {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.links {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.home .home-content .git {
    color: black;
    transition: color 0.2s;
    margin: 0 5px;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color: white;
}

.home .home-content .ldin {
    color: black;
    transition: color 0.2s;
    margin: 0 5px;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color: white;
}

.home .home-content .mail {
    color: black;
    transition: color 0.2s;
    margin: 0 5px;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color: white;
}

.home .home-content .git:hover {
    color: #2E3B4B;
}

.home .home-content .ldin:hover {
    color: #2E3B4B;
}

.home .home-content .mail:hover {
    color: #2E3B4B;
}

/* ABOUT STYLING */

.about {
    height: 100vh;
    background: url(images/about-bgrd.png);
    background-size: cover; 
    position: relative;
}

.about .max-width{
    background-color: transparent;
}

.adjust-scroll {
    padding-top: 10vh;
    background-color: transparent;
}

.about .about-page {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: transparent;
}

.left {
    margin-top: 12vh;
    margin-right: 15vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .about-page .left .pic{
    height: 25vh;
    width: 25vh;
    background-color: transparent;
    border: solid 1px;
    border-radius: 50%;
    border-color: #151F2D;
    margin-bottom: 1vh;
}

.detail {
    background-color: transparent;
    color:#151F2D;     
    font-weight: 10;
}

.icon1{
    background-color: transparent;
    color: #151F2D;
    margin-right: .5vw;
}

.bullet{
    align-items: center;
    display: flex;
    background-color: transparent;
    flex-direction: column;
}

.wrapper {
    background-color: transparent;
    display: flex;
    align-items: center;
}

.button{
    background-color: transparent;
    color: #151F2D;
    margin-top: 1vh;
    font-size: 15px;
    font-weight: 900;
}

.left .button .req{
    text-decoration: none;
    color: #151F2D;
    background-color: transparent;
}

.about .about-page .right {
    width: 50%;
    background-color: transparent;
    margin-top: 20vh;
}

.about .about-page .right p{
    color: black;
    font-size: 20px;
    font-weight: 200;
    background-color: transparent;
}

.iconsv {
    color: black;
    transition: color 0.2s;
    background-color: transparent;
}

.tech-stack .iconsv {
    padding-right: .5vh;
    color: black;
    transition: color 0.2s;
    background-color: transparent;
}

.ico{
    color: black;
    margin: 0 5px;
    font-size: 20px;
    padding-right: 1vw;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.tech-stack {
    margin-top: 1vh;
    align-items: center;
    text-align: center;
    background-color: transparent;
}


/* PROJECTS STYLING */

.projects {
    height: 100vh;
    position: relative;
    background-color: #EBEBEB;
    background: url(images/projects-bgrd.png);
    background-size: cover; 
}

.adjust-scroll {
    padding-top: 10vh;
}

.projects .max-width{
    background-color: transparent;
}

.projects .header {
    text-align: center;
    letter-spacing: 10px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5vh;
    color: #2E3B4B;
    background-color: transparent;
}

.projects img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.wrapper {
    width: 100%;
    color: black;
    background-color: transparent;
}

.cards_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    color: black;
    background-color: transparent;
}

.cards_wrap .card_item {
    width: 25%;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    transition: transform .5s ease-in;
}

.cards_wrap .card_item:hover {
    transform: scale(1.1);
    transition: transform .5s ease-out;
}
 
.cards_wrap .card_top {
    min-height: 100px;
    background-color: #F6F6F6;  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cards_wrap .card_inner{
    background-color: transparent;
}

.cards_wrap .card_bottom {
    padding: 15px;
    background-color: #F6F6F6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cards_wrap .card_bottom .card_category{
    text-align: center;
    color: black;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.cards_wrap .card_bottom .card_category p{
    text-align: center;
    color: black;
    background-color: #F6F6F6;
    font-weight: 400;
    font-size: 20px;
}

.cards_wrap .card_bottom .card_info {
    padding: 15px;
    margin: 10px 0;
    color: black;
    background-color: #F6F6F6;
    text-align: center;
}

.ico2 {
    color: black;
    margin: 0 5px;
    font-size: 25px;
    text-align: center;
    background-color: #F6F6F6;
}

.iconsv2 {
    color: black;
    transition: color 0.2s;
    background-color: #F6F6F6;
}

.cards_wrap .card_bottom .card_info p {
    color: black;
}

.cards_wrap .card_bottom .card_info .title{
    font-size: 18px;
    font-weight: 300;
    color: black;
    background-color: #F6F6F6;
    height: 10vw;
}

.cards_wrap .card_item {
    width: 20%;
}

  
/* CONTACT STYLING */

/* .contact {
    height: 25vh;
    box-shadow: 0 1px 20px 0 #2E3B4B;
    position: relative;
    background-image: url(images/contact-bgrd.png);
    background-size: cover; 
}

.adjust-scroll {
    padding-top: 10vh;
}

.contact .header {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #2E3B4B;
    background-color: transparent;
}

.contact .max-width {
    background-color: transparent;
    align-items: center;
} */


/* MOBILE RESPONSIVE STYLING  */

@media (max-width: 600px) {

    .logo {
        width: 12vh;    
    }

    .navtabs a { 
        font-size: 20px;
        font-weight: 200;
        letter-spacing: 0px;
    }

    .tabs {
        padding: 10px;
    }


    /* HOME MOBILE STYLING */

    .home {
        display: flex;
        color: #FFF;
        height: 100vh;
        position: relative;
        background: url(images/city1-blur.png);
        background-size: cover; 
        background-position-x: 40%;
    }

    .home .home-content .line-1 {
        font-size: 15px;
        letter-spacing: 0px;
        padding-bottom: 1vh;
    }

    .home .home-content .line-2 {
        font-size: 30px;
        padding-bottom: 1vh;
    }

    .home .home-content .line-3 {
        font-size: 15px;
        letter-spacing: 0px;    
    }

    .home .home-content .line-4 {
        margin-top: 10vh;
    }

    .home .home-content .git {
        font-size: 30px;
    }

    .home .home-content .ldin {
        font-size: 30px;
    }

    .home .home-content .mail {
        font-size: 30px;
    }


    /* ABOUT MOBILE STYLING */

    .about {
        height: 100vh;
        background: url(images/about-bgrd.png); 
        position: relative;
    }

    .left {
        margin-top: 0vh;
        margin-right: 2vh;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .about .about-page .left .pic{
        height: 10vh;
        width: 10vh;
        background-color: transparent;
        border: solid 1px;
        border-radius: 50%;
        border-color: #151F2D;
        margin-bottom: 1vh;
    }
    
    .detail {
        background-color: transparent;
        color:#151F2D;     
        font-weight: 10;
    }
    
    .icon1{
        background-color: transparent;
        color: #151F2D;
        margin-right: .5vw;
    }
    
    .bullet{
        align-items: center;
        display: flex;
        background-color: transparent;
        flex-direction: column;
    }
    
    .wrapper {
        background-color: transparent;
        display: flex;
        align-items: center;
    }
    
    .button{
        background-color: transparent;
        color: #151F2D;
        margin-top: 1vh;
        font-size: 15px;
        font-weight: 900;
    }
    
    .left .button .req{
        text-decoration: none;
        color: #151F2D;
        background-color: transparent;
    }
    
    .about .about-page .right {
        width: 50%;
        background-color: transparent;
        margin-top: 5vh;
    }
    
    .about .about-page .right p{
        color: black;
        font-size: 15px;
        font-weight: 200;
        background-color: transparent;
    }

    .tech-stack .iconsv {
        width: 3vh;
        height: auto;
        padding-right: 1vh;
        color: black;
        background-color: transparent;
    }


    /* PROJECTS MOBILE STYLING */

    .projects {
        height: 175vh;
        position: relative;
        background-color: #EBEBEB;
    }

    .adjust-scroll {
        padding-top: 10vh;
    }

    .projects .max-width{
        background-color: transparent;
    }

    .projects .header {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 1vh;
        color: #2E3B4B;
        background-color: transparent;
    }

    .projects img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .wrapper {
        width: 100%;
        color: black;
        background-color: transparent;
    }

    .cards_wrap {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        color: black;
        background-color: transparent;
    }

    .cards_wrap .card_item {
        height: 50vw;
        width: 100vw;
        margin-bottom: 20vh;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        background-color: transparent;
        border-radius: 10px;
        transition: none;
    }

    .cards_wrap .card_item:hover {
        transform: scale(0);
        transition: none;
    }

    .cards_wrap .card_top {
        min-height: 50px;
        background-color: #F6F6F6;  
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .cards_wrap .card_inner{
        background-color: transparent;
    }

    .cards_wrap .card_bottom {
        padding: 5px;
        background-color: #F6F6F6;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .cards_wrap .card_bottom .card_category{
        text-align: center;
        color: black;
        background-color: #F6F6F6;
        border-radius: 10px;
    }

    .cards_wrap .card_bottom .card_category p{
        text-align: center;
        color: black;
        background-color: #F6F6F6;
        font-weight: 400;
        font-size: 10px;
    }

    .cards_wrap .card_bottom .card_info {
        padding: 0px;
        margin: 10px 0;
        color: black;
        background-color: #F6F6F6;
        text-align: center;
    }

    .cards_wrap .card_bottom .card_info .title {
        margin-bottom: 4vh;
    }

    .ico2 {
        color: black;
        margin: 0 5px;
        font-size: 15px;
        text-align: center;
        background-color: #F6F6F6;
    }

    .iconsv2 {
        color: black;
        transition: color 0.2s;
        background-color: #F6F6F6;
    }

    .cards_wrap .card_bottom .card_info p {
        color: black;
    }

    .cards_wrap .card_bottom .card_info .title{
        font-size: 12px;
        font-weight: 300;
        color: black;
        background-color: #F6F6F6;
        height: 10vw;
    }

    .cards_wrap .card_item {
        width: 70%;
    }
}


/* TABLETS RESPONSIVE STYLING */
@media (max-width: 900px) {

    .logo {
        width: 12vh;    
    }

    .navtabs a { 
        font-size: 20px;
        font-weight: 200;
        letter-spacing: 0px;
    }

    .tabs {
        padding: 10px;
    }


    /* HOME TABLET STYLING */

    .home {
        display: flex;
        color: #FFF;
        height: 100vh;
        position: relative;
        background: url(images/city1-blur.png);
        background-size: cover; 
        background-position-x: 40%;
    }

    .home .home-content .line-1 {
        font-size: 15px;
        letter-spacing: 0px;
        padding-bottom: 1vh;
    }

    .home .home-content .line-2 {
        font-size: 30px;
        padding-bottom: 1vh;
    }

    .home .home-content .line-3 {
        font-size: 15px;
        letter-spacing: 0px;    
    }

    .home .home-content .line-4 {
        margin-top: 10vh;
    }

    .home .home-content .git {
        font-size: 30px;
    }

    .home .home-content .ldin {
        font-size: 30px;
    }

    .home .home-content .mail {
        font-size: 30px;
    }


    /* ABOUT TABLET STYLING */

    .about {
        height: 100vh;
        background: url(images/about-bgrd.png); 
        position: relative;
    }

    .left {
        margin-top: 0vh;
        margin-right: 2vh;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .about .about-page .left .pic{
        height: 10vh;
        width: 10vh;
        background-color: transparent;
        border: solid 1px;
        border-radius: 50%;
        border-color: #151F2D;
        margin-bottom: 1vh;
    }
    
    .detail {
        background-color: transparent;
        color:#151F2D;     
        font-weight: 10;
    }
    
    .icon1{
        background-color: transparent;
        color: #151F2D;
        margin-right: .5vw;
    }
    
    .bullet{
        align-items: center;
        display: flex;
        background-color: transparent;
        flex-direction: column;
    }
    
    .wrapper {
        background-color: transparent;
        display: flex;
        align-items: center;
    }
    
    .button{
        background-color: transparent;
        color: #151F2D;
        margin-top: 1vh;
        font-size: 15px;
        font-weight: 900;
    }
    
    .left .button .req{
        text-decoration: none;
        color: #151F2D;
        background-color: transparent;
    }
    
    .about .about-page .right {
        width: 50%;
        background-color: transparent;
        margin-top: 5vh;
    }
    
    .about .about-page .right p{
        color: black;
        font-size: 15px;
        font-weight: 200;
        background-color: transparent;
    }

    .tech-stack .iconsv {
        width: 3vh;
        height: auto;
        padding-right: 1vh;
        color: black;
        background-color: transparent;
    }


    /* PROJECTS TABLET STYLING */

    .projects {
        height: 175vh;
        position: relative;
        background-color: #EBEBEB;
    }

    .adjust-scroll {
        padding-top: 10vh;
    }

    .projects .max-width{
        background-color: transparent;
    }

    .projects .header {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 1vh;
        color: #2E3B4B;
        background-color: transparent;
    }

    .projects img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .wrapper {
        width: 100%;
        color: black;
        background-color: transparent;
    }

    .cards_wrap {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        color: black;
        background-color: transparent;
    }

    .cards_wrap .card_item {
        height: 50vw;
        width: 100vw;
        margin-bottom: 20vh;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        background-color: transparent;
        border-radius: 10px;
        transition: none;
    }

    .cards_wrap .card_item:hover {
        transform: scale(0);
        transition: none;
    }

    .cards_wrap .card_top {
        min-height: 50px;
        background-color: #F6F6F6;  
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .cards_wrap .card_inner{
        background-color: transparent;
    }

    .cards_wrap .card_bottom {
        padding: 5px;
        background-color: #F6F6F6;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .cards_wrap .card_bottom .card_category{
        text-align: center;
        color: black;
        background-color: #F6F6F6;
        border-radius: 10px;
    }

    .cards_wrap .card_bottom .card_category p{
        text-align: center;
        color: black;
        background-color: #F6F6F6;
        font-weight: 400;
        font-size: 10px;
    }

    .cards_wrap .card_bottom .card_info {
        padding: 0px;
        margin: 10px 0;
        color: black;
        background-color: #F6F6F6;
        text-align: center;
    }

    .cards_wrap .card_bottom .card_info .title {
        margin-bottom: 4vh;
    }

    .ico2 {
        color: black;
        margin: 0 5px;
        font-size: 15px;
        text-align: center;
        background-color: #F6F6F6;
    }

    .iconsv2 {
        color: black;
        transition: color 0.2s;
        background-color: #F6F6F6;
    }

    .cards_wrap .card_bottom .card_info p {
        color: black;
    }

    .cards_wrap .card_bottom .card_info .title{
        font-size: 12px;
        font-weight: 300;
        color: black;
        background-color: #F6F6F6;
        height: 10vw;
    }

    .cards_wrap .card_item {
        width: 70%;
    }
}
   