@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Oswald', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

/* NAVIGATION BAR STYLING */

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the logo horizontally */
    background-color: #151F2D;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 2px 2px white;
}

.logo {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 140px;
    height: auto;
    background-color: #151F2D;
}

/* HOME STYLING */

.home {
    display: flex;
    color: #FFF;
    height: 100vh;
    position: relative;
    background: url(images/city1-blur.png) repeat fixed 100%;
    background-size: cover; 
}

.home .max-width {
    background-color: transparent;
    align-items: center;
}

.home .home-content {
    background-color: transparent;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.home .home-content .line-1 {
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 5px;
    color: white;
}

.home .home-content .line-2 {
    background-color: transparent;
    position: relative;
    text-align: center;
    font-size: 85px;
    font-weight: 400;
    color: white;
}

.home .home-content .line-2 span {
    background-color: transparent;
    display: inline-block;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i));
    color: white;
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
}

.home .home-content .line-3 {
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 5px;
    color: white;
}

.home .home-content .line-4 {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    -webkit-animation: button .5s infinite  alternate;
    animation: button .5s infinite  alternate;
    background-color: transparent;
    font-size: 50px;
    color: white;
}

@-webkit-keyframes button {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes button {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.links {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.home .home-content .git {
    color: black;
    transition: color 0.2s;
    margin: 0 5px;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color: white;
}

.home .home-content .ldin {
    color: black;
    transition: color 0.2s;
    margin: 0 5px;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color: white;
}

.home .home-content .mail {
    color: black;
    transition: color 0.2s;
    margin: 0 5px;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color: white;
}

.home .home-content .git:hover {
    color: #2E3B4B;
}

.home .home-content .ldin:hover {
    color: #2E3B4B;
}

.home .home-content .mail:hover {
    color: #2E3B4B;
}